name: Tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build test image
        run: make build

      - name: Install dependencies (container)
        run: make install

      - name: Run tests (container)
        run: make test
